<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Registo</title>
</head>

<body>
    <h1>Novo Utilizador</h1>
    <form action="/admin" method="POST">
        <input type="text" name="name" id="name" placeholder="Nome">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password">
        <button>Registar</button>
    </form>
</body>