<!DOCTYPE html>

<html>
    <head>
        <title>Teste</title>
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            <header>
                <h1>Teste2</h1>

                <a href="/">Index</a>
                <a href="/templates/views/signup.hbs">Inscrever</a>
                
            </header>

            <p>Usar para inscrever</p>

            <form>
                <input placeholder="Nome">
                <button>Registar</button>
            </form>
        </div>

        <footer>
            <p>Created by: Teste</p>
        </footer>
    </body>

</html>