<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
    height:fit-content;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 50px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2485da;
  display: block;
}

.sidebar a:hover {
  color: #3e617e;
}


</style>
</head>
<body>






          <div class="sidebar">
              <h5>Tabelas de Alunos</h5>
              <a class="nav-link" href="tabelaaet">Tabela AET</a>
              <a class="nav-link" href="tabelaoc">Tabela OC</a>
              <a class="nav-link" href="tabelatsp">Tabela TSP</a>
              <a class="nav-link" href="tabelavp">Tabela VP</a>
              <h5>Cursos</h5>
              <a class="nav-link" href="curso">Adicionar Curso</a>
              <a class="nav-link" href="registar">Adicionar Admin</a>
              <a class="nav-link" href="tabela">Tabela de Alunos</a>
              <a class="nav-link" href="tabelavp">Tabela VP</a>
          </div>
     

