
          <div class="sidebar">
              <h5>Tabelas de Alunos</h5>
              <a class="nav-link" href="tabelaaet">Tabela AET</a>
              <a class="nav-link" href="tabelaoc">Tabela OC</a>
              <a class="nav-link" href="tabelatsp">Tabela TSP</a>
              <a class="nav-link" href="tabelavp">Tabela VP</a>
          </div>
          <div class="sidebar">
            <h5>Painel 2</h5>
            <a class="nav-link" href="tabelaaet">Tabela AET</a>
            <a class="nav-link" href="tabelaoc">Tabela OC</a>
            <a class="nav-link" href="tabelatsp">Tabela TSP</a>
            <a class="nav-link" href="tabelavp">Tabela VP</a>
        </div>
        <div class="sidebar">
            <h5>Painel 3</h5>
            <a class="nav-link" href="tabelaaet">Tabela AET</a>
            <a class="nav-link" href="tabelaoc">Tabela OC</a>
            <a class="nav-link" href="tabelatsp">Tabela TSP</a>
            <a class="nav-link" href="tabelavp">Tabela VP</a>
        </div>


