<% layout('../layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Inserir Curso</h5>
                    <form action="/cursos" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="name">Nome do curso</label>
                            <input class="form-control" type="text" id="name" name="name" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="vagaset">vagaset</label>
                            <input class="form-control" type="number" id="vagaset" name="vagaset" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="vagasoc">vagasoc</label>
                            <input class="form-control" type="number" id="vagasoc" name="vagasoc" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="vagastsp">vagastsp</label>
                            <input class="form-control" type="number" id="vagastsp" name="vagastsp" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="vagasvt">vagasvt</label>
                            <input class="form-control" type="number" id="vagasvt" name="vagasvt" required>
                        </div>
                        <button class="btn btn-success btn-block">Inserir curso</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>