<% layout('../layouts/boilerplate')%>

<!DOCTYPE html>

<div class="sidenav">
    <a href="tabelaaet">Tabela AET</a>
    <a href="tabelaoc">Tabela OC</a>
    <a href="tabelatsp">Tabela TSP</a>
    <a href="tabelavp">Tabela VP</a>
  </div>
  
  <!-- Page content -->
  <div class="main">

  </div>