<% layout('../layouts/boileradmin')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Adicionar Cursos</h5>
                    <form action="/cursos" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="name">Nome do Curso</label>
                            <input class="form-control" type="text" id="name" name="name" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="vagaset">Escola</label>
                            <input class="form-control" type="text" id="escola" name="escola" required>
                        </div>
                        <button class="btn btn-success btn-block">Adicionar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

