<% layout('../layouts/boileradmin')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title">Tabela de Cursos</h3>
                    <br><br>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Escola</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% curso.forEach(curso => { %>
                                <tr>
                                    <th><%= curso.id %></th>
                                    <th><%= curso.name %></th>
                                    <th><%= curso.escola %></th>
                                    <th>
                                    <form method="POST" action="/cursos/delete">
                                        <input type="hidden" name="id" value="<%= curso._id %>">
                                        <button class="btn btn-danger">Apagar</button>
                                    </form>
                                    </th>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>