<!DOCTYPE html>

<form action="/login" method="POST">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" type="text" id="username" name="username" required>
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password" required>
    <button class="btn btn-success">Login</button>
</form>