<% layout('../layouts/boileradmin')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title">Administradores</h3>
                    <br><br>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% admin.forEach(admin => { %>
                                <tr>
                                    <th><%= admin.id %></th>
                                    <th><%= admin.username %></th>
                                    <th><%= admin.email %></th>
                                    <th>
                                    <form method="POST" action="/admins/delete">
                                        <input type="hidden" name="id" value="<%= admin._id %>">
                                        <button class="btn btn-danger">Apagar</button>
                                    </form>
                                    </th>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>