<% layout('../layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Inscrição</h5>
                    <form action="/concorrer" method="POST" enctype="multipart/form-data">
                        
                        <div class="mb-3">
                            <label class="form-label" for="name">Nome</label>
                            <input class="form-control" type="text" id="name" name="name" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="contacto">Contacto</label>
                            <input class="form-control" type="number" id="contacto" name="contacto" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="dateOfBirth">Data de Nascimento</label>
                            <input class="form-control" type="date" id="dateOfBirth" name="dateOfBirth" required>
                        </div>
                        <div class="mb-3">
                            <label>Tipo de Concurso</label>
                        </div>
                        <div class="mb-3">
                            <select name="concurso">
                                <% concurso.forEach(function(concurso){ %>
                                    <option value="<%= concurso.name %>"><%= concurso.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="nota">Nota</label>
                            <input class="form-control" type="number" id="nota" name="nota" required>
                        </div>
                        
                    <div class="mb-3"><label>Curso</label></div>    
                    <div class="mb-3">
                        <select name="curso">
                            <% curso.forEach(function(curso){ %>
                                <option value="<%= curso.name %>"><%= curso.name %> </option>
                            <% }) %>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="file">File</label>
                        <br>
                        <input type="file" name="file">
                    </div>

                    
                   
                        <button class="btn btn-success btn-block">Inscrição</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>